<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="displayTable">
                            <div class="displayTableCell">

                                <div class="authBlock">
                                    <h3>Thank You for Signing up</h3>

                                    <div class="formGroup" *ngIf="ngAuthService.userState as user">
                                        <p class="text-center">Confirmation mail has been sent to
                                            <strong>{{user.email}}</strong>.
                                        </p>
                                    </div>
                                    <br>
                                    <div class="formGroup">
                                        <button type="button" class="btn btn-block btn-success"
                                            (click)="ngAuthService.SendVerificationMail()">
                                            Resend Verification Email
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>